<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    {% block head_inner %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_inner_title %}<title>Example page</title>{%  endblock %}
        {% block head_inner_stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/foundation.css') }}">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
    {% endblock %}
</head>
<body>
    Example
</body>
</html>
